[submodule "MapView/Map/GRMustache"]
	path = MapView/Map/GRMustache
	url = https://github.com/groue/GRMustache.git
[submodule "MapView/Map/mustache.js"]
	path = MapView/Map/mustache.js
	url = https://github.com/janl/mustache.js.git
